* {
    font-family: 'Nixie One', cursive;
}

#login {
    width: 100%;
    height: 34.375rem;
    text-align: center;
    border-radius: 0.625rem;
    margin: 6.25rem auto 6.25rem auto;
    padding: 1.25rem;
}

.small {
    font-size: 0.625rem;
    text-align: center;
    color: #9B9B9B;
}

article > p {
    padding-top: 1.25rem;
    text-align: left;
    color: #9B9B9B;
    font-size: 1.063rem;
}

header {
    line-height: 60%;
}

h1 {
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size: 2.25;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
    display: block;
    padding: 1.875rem;
}

article {
    width: 19.375rem;
    margin: auto;
}

article > p {
    padding-top: 1.25rem;
    text-align: left;
    color: #9B9B9B;
    font-size: 0.313rem;
    margin-bottom: 0.625rem;
}

.email_input {

    width: 17.5rem;
    height: 2.188rem;
    background-color: #fff;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0rem;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 0.375rem 0.75rem;
    font-size: 0.625rem;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    outline: none;
    border-radius: 1.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.42857143;

}

.no_email {
    text-align: right;
    font-size: 0.813rem;
    color: #35B8E1;
    padding-top: 0.063rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;


}

.submit {
    width: 19.375rem;
    height: 3.125rem;
    display: block;
    outline: none;
    border-radius: 1.875rem;
    background-color: #33B3FF;
    color: white;
    border: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
    

}

.nosign {
    color: #515151;
    font-size: 0.75rem;
    text-align: center;
    margin: auto;
}

.signup {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #33B3FF;
    font-size: 0.75rem;
}
#password {
    padding-top: 0rem;
}
.form-check-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #515151;
    font-size: 0.625rem;
}
.form-check {
    text-align: left;
    text-justify: auto;
    width: 18.75rem;
    display: inline-block;
    padding-top: 0.313rem;
}
   
