/* place */
.map_wrap {
    padding: 8rem 5rem 2rem;
    text-align: center;
}

.map_section {
    margin: 7rem 0 3rem 0;
}

.map_section input {
    width: 30rem;
    height: 1rem;
    font-size: 0.8rem;
    border: 1px solid #515151;
    padding: 1rem;
    border-radius: 2rem;
    opacity: 30%;
    margin-right: 0.3rem;
}

.map_top2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom :0.8rem;
}

.search_btn {
    width: 5rem;
    height: 3rem;
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #35B8E1;
    color: white;
}

.today-check input{ 
    width: 100%;
}

.form-check input {
    width: 1rem;
}

.form-check input, label{
    padding-bottom:0.8rem;
}

.feel-check{
    margin: 0 1rem;
}

.map_section label {
    font-size: 0.8rem;
    opacity: 80%;
    display: inline-block;
    margin-right: 2rem;
    margin-top: 3rem;
}

/* 지도 모니터 */
.map_box {
    width: 100%;
    height: 40rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 2.25rem;
    margin-bottom: 5rem;
}

.map_header {
    height: 3rem;
    position: relative;
    width: 100%;
    background: #e6e6e6;
    border-radius: 2.25rem;
}

.map_header span {
    position: absolute;
    top: 1.2rem;
    left: 4rem;
}

.map_nav {
    position: relative;
    opacity: 25%;
    top: 1rem;
    left: -28rem;
}

.map_nav i {
    margin-right: 1rem;
}

.map_nav i:nth-child(2),
i:nth-child(3) {
    transform: scaleX(-1);
}

.map_header span:nth-child(1) {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: lightcoral;
}

.map_header span:nth-child(2) {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transform: translateX(130%);
    background-color: lightskyblue;
}

.map_header span:nth-child(3) {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transform: translateX(300%);
    background-color: lightgreen;
}

.map_img #map {
    width: 90%;
    height: 30rem;
    border-radius: 1rem;
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    display: table;
    z-index: 0;
}
.title {
    font-weight:600;
    display:block;
    letter-spacing: -0.03rem;
}

.hAddr {
    position:absolute;
    left:29rem;
    top:34.1rem;
    border-radius: 0.8rem;
    background:lightcoral;
    color: #fff;
    opacity: 80%;
    z-index:1;
    padding:0.6rem;
}

#centerAddr {
    display:block;
    margin-top:0.125rem;
    font-weight: 300;
    letter-spacing: -0.03rem;
}

.bAddr {
    padding:1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.9rem;
    color: #515151;
    z-index: 9999;
}

.bAddr span{
    font-size: 1.1rem;
    margin: 0.3rem;
}

.map_content {
    width: 70rem;
    height: 40rem;
    margin: auto;
}
.select_box {
    width: 21rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.write_select {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8rem;
}

.write_select #option {
    font-size: 0.93rem;
    color: #515151;
    width: 14.4rem;
    border: 1px solid #515151;
    padding: 0.93rem;
    border-radius: 3.125rem;
    opacity: 30%;
    margin: 0 0.3125rem;
    display: block;
    font-size: 0.812rem;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.write_select .select ul {
    width: 9.4rem;
    background-color: #fff;
    color: #909090;
    padding: 0.63rem 0.3rem;
    display: none;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin: 0.31rem;
    position: absolute;
    z-index: 1;
}

.write_select .select ul li {
    cursor: pointer;
    padding: 0.3rem;
}






@media screen and (max-width: 30rem) {
    .search_btn {
    width: 22%;
}
}
@media screen and (max-width: 48.65rem) {
    #searp {
        margin-bottom: 1.25rem;
        width: 70%;
    
    }
    .map_wrap {
        margin: auto;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }    
    
}
@media screen and (max-width: 80rem) {
    .map_content{
        position: relative;
        width: auto;
    }
    .map_nav {
        position: absolute;
        left: 3.125rem;
        top: 6.25rem;
        width: 12.5rem;
    }
    .hAddr {
        position: absolute;
        left: 3.125rem;
        top: 6.25rem;
    }


}