.write_wrap {
    margin: 8rem 5rem 2rem;
    text-align: center;
    margin-right: 23.5rem;
}

.write_section {
    padding: 15rem 0 3rem 0;
}

.write_bt {
    display: block;
    text-align: right;
    margin-bottom: 1rem;
    margin-right: 22rem;
}

/* 이런 경우엔 부모에 block을 주고 자식에 right준다. 위에<< */
.write_section div button {
    font-size: 0.9rem;
    background-color: #35B8E1;
    color: #fff;
    border-radius: 2rem;
    width: 5rem;
    height: 3rem;

}

.write_section div button:hover {
    background-color: #08a3d2;
}

.write_box {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9rem 1.9rem;
    border: 1px solid rgba(146, 146, 146, 0.5);
    border-radius: 1.9rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.write_box h2 {
    font-size: 1.2rem;
}

.write_box p {
    width: 95%;
    font-size: 0.9rem;
    margin-top: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_info {
    font-size: 1rem;
    opacity: 60%;
}

/* 반응형 */
@media(max-width:767px) and (min-width:320px) {
    .top_logo i {
        display: block;
        position: absolute;
        font-size: 2rem;
        top: 2rem;
        right: 2rem;
        color: #909090;
    }

    .write_section {
        padding: 10rem 0 3rem 0;
    }

    .write_box {
        width: 70%;
    }

    .write_bt {
        display: block;
        text-align: right;
        margin-bottom: 1rem;
        margin-right: 1.6rem;
    }

    .write_box p {
        width: 8rem;
        font-size: 0.9rem;
        margin-top: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all
    }
}