<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디/비번 찾기</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/id,pw.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style type="text/css">
        A:link {text-decoration:none; color:#000000;}
        A:visited {text-decoration:none; color:#000000;}
        A:active {text-decoration:none; color:#000000;}
        A:hover {text-decoration:none; color:#000000;}
    </style>

</head>

<script type="text/javascript">
    $(document).ready(function () {
        $("#RSTPW").click(RstPW())
        $('#findid').click(function () {
            var name = $("#name1").val();
            var birthday = $("#birthday1").val();
            var phone = $("#phone1").val()

            $.ajax({
                type: "POST",
                url: "/User/FindID",
                dataType: "json",
                data: {
                    'name': name,
                    'birthday': birthday,
                    'phone' : phone
                },
                success: function (response) {
                    idlist = response
                    var message = idlist.length+"개의 계정이 확인되었습니다.\n"

                    idlist.forEach(element => {
                        message = message +""+element.email+"\n"
                    });
                    alert(message)
                },
                error: function () {
                    if (name == "" || email == "" || phone == "") {
                        alert('이름, 전화번호, 이메일을 입력해주세요.');
                    } else {
                        alert('입력하신 정보가 일치하지 않거나 존재하지 않습니다.');
                    }
                },
            });
        })
    });
</script>     
<body>
    <a href="/"><header id="login">
        <h1>DAILY</h1>
        <h1>LOG</h1>
    </header></a>
    <section>
        <article id="left">
            <div id="left_content" class="idpw_article">
                <p class="idpw_title">아이디/ 이메일 찾기</p>
                <p style="float: left">이름</p>
                <div class="id">
                    <input id="name1" type="email" class="email_input">
                </div>
                <p style="float: left">전화번호</p>
                <div class="id">
                    <input id="phone1" type="email" class="email_input">
                </div>
                <p style="float: left">생년월일</p>
                <div class="id">
                    <input id="birthday1" type="email" class="email_input">
                </div>
                <input id="findid" type="submit" class="submit" value="아이디 찾기">
            </div>
        </article>
        <article id="right">
            <div id="right_content" class="idpw_article">
                <p class="idpw_title">비밀번호 찾기</p>
                <p style="float: left">이메일</p>
                <div class="id">
                    <input id="email1" onkeypress="javascript:if(event.keyCode==13) RstPW()" type="email" class="email_input">
                </div>
                <input id="RSTPW" onclick="RstPW()" type="submit" class="submit" value="비밀번호 찾기">

                
        </article>
    </section>

    <script>
        function RstPW() {
        var email = $("#email1").val()

        $.ajax({
            type: "POST",
            url: "/User/ResetPW",
            dataType: 'json',
            data:{
                "email": email
            },
            success: function (response) {
                if(response == "DONE"){
                    alert("이메일을 전송했습니다.\n이메일이 오지 않은경우 스팸메일함을 확인해보세요.")
                }
                if(response == "INVALID_EMAIL"){
                    alert("이메일 형태가 올바르지 않습니다.\n입력값을 확인해주세요")
                }
                if(response == "EMAIL_NOT_FOUND"){
                    alert("해당 이메일을 찾을수 없습니다.\n아이디가 올바르지 않습니다.")
                }
                if(response == "MISSING_EMAIL"){
                    alert("이메일을 입력해주세요.")
                }
                console.log(response)
            },
            error: function(err) {
                err = err.responseText
                if(err == "DONE"){
                    alert("이메일을 전송했습니다.\n이메일이 오지 않은경우 스팸메일함을 확인해보세요.")
                }
                if(err == "INVALID_EMAIL"){
                    alert("이메일 형태가 올바르지 않습니다.\n입력값을 확인해주세요")
                }
                if(err == "EMAIL_NOT_FOUND"){
                    alert("해당 이메일을 찾을수 없습니다.\n아이디가 올바르지 않습니다.")
                }
                if(err == "MISSING_EMAIL"){
                    alert("이메일을 입력해주세요.")
                }
                console.log(err)
            }
        })
    }
    </script>

</body>
</html>


              

 