<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디/비번 찾기</title>

    <!-- 스타일 -->
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/id,pw.css">

    <!-- 스크립트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/idpw.js" defer></script>

    <style type="text/css">
        A:link {
            text-decoration: none;
            color: #000000;
        }

        A:visited {
            text-decoration: none;
            color: #000000;
        }

        A:active {
            text-decoration: none;
            color: #000000;
        }

        A:hover {
            text-decoration: none;
            color: #000000;
        }
    </style>

</head>

<body>
    <a href="/">
        <header id="login">
            <h1>DAILY</h1>
            <h1>LOG</h1>
        </header>
    </a>
    <section>
        <article id="left">
            <div id="left_content" class="idpw_article">
                <p class="idpw_title">아이디/ 이메일 찾기</p>
                <p style="float: left">이름</p>
                <div class="id">
                    <input id="name1" type="email" class="email_input">
                </div>
                <p style="float: left">전화번호</p>
                <div class="id">
                    <input id="phone1" type="email" class="email_input">
                </div>
                <p style="float: left">생년월일</p>
                <div class="id">
                    <input id="birthday1" type="email" class="email_input">
                </div>
                <input id="findid" type="submit" class="submit" value="아이디 찾기">
            </div>
        </article>
        <article id="right">
            <div id="right_content" class="idpw_article">
                <p class="idpw_title">비밀번호 찾기</p>
                <p style="float: left">이메일</p>
                <div class="id">
                    <input id="email1" onkeypress="javascript:if(event.keyCode==13) RstPW()" type="email"
                        class="email_input">
                </div>
                <input id="RSTPW" onclick="RstPW()" type="submit" class="submit" value="비밀번호 찾기">


        </article>
    </section>

    <script>
        function RstPW() {
            var email = $("#email1").val()

            $.ajax({
                type: "POST",
                url: "/User/ResetPW",
                dataType: 'json',
                data: {
                    "email": email
                },
                success: function (response) {
                    if (response == "DONE") {
                        alert("이메일을 전송했습니다.\n이메일이 오지 않은경우 스팸메일함을 확인해보세요.")
                    }
                    if (response == "INVALID_EMAIL") {
                        alert("이메일 형태가 올바르지 않습니다.\n입력값을 확인해주세요")
                    }
                    if (response == "EMAIL_NOT_FOUND") {
                        alert("해당 이메일을 찾을수 없습니다.\n아이디가 올바르지 않습니다.")
                    }
                    if (response == "MISSING_EMAIL") {
                        alert("이메일을 입력해주세요.")
                    }
                    console.log(response)
                },
                error: function (err) {
                    err = err.responseText
                    if (err == "DONE") {
                        alert("이메일을 전송했습니다.\n이메일이 오지 않은경우 스팸메일함을 확인해보세요.")
                    }
                    if (err == "INVALID_EMAIL") {
                        alert("이메일 형태가 올바르지 않습니다.\n입력값을 확인해주세요")
                    }
                    if (err == "EMAIL_NOT_FOUND") {
                        alert("해당 이메일을 찾을수 없습니다.\n아이디가 올바르지 않습니다.")
                    }
                    if (err == "MISSING_EMAIL") {
                        alert("이메일을 입력해주세요.")
                    }
                    console.log(err)
                }
            })
        }
    </script>

    <!-- Channel Plugin Scripts -->
    <script>
        (function () {
            var w = window;
            if (w.ChannelIO) {
                return (window.console.error || window.console.log || function () { })('ChannelIO script included twice.');
            }
            var ch = function () {
                ch.c(arguments);
            };
            ch.q = [];
            ch.c = function (args) {
                ch.q.push(args);
            };
            w.ChannelIO = ch;
            function l() {
                if (w.ChannelIOInitialized) {
                    return;
                }
                w.ChannelIOInitialized = true;
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
                s.charset = 'UTF-8';
                var x = document.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            }
            if (document.readyState === 'complete') {
                l();
            } else if (window.attachEvent) {
                window.attachEvent('onload', l);
            } else {
                window.addEventListener('DOMContentLoaded', l, false);
                window.addEventListener('load', l, false);
            }
        })();
        ChannelIO('boot', {
            "pluginKey": "950a4eb1-7a2f-4a84-a308-242e60634b09" //please fill with your plugin key
        });
    </script>
    <!-- End Channel Plugin -->

</body>

</html>