<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="stylesheet" href="../static/css/map.css">
    <script src="https://kit.fontawesome.com/80a9730165.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>DAILY LOG</title>

    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/80a9730165.js" crossorigin="anonymous"></script>

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="./static/assets/house.svg" type="image/x-icon">
    <link rel="icon" href="./static/assets/house.svg" type="image/x-icon">

    <!-- 스크립트 -->
    <script src="../static/js/index.js" defer></script>

    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <script>
        let id = ""
        $(document).ready(function () {
            $("#select #option").on("click", function () {
                $("#select ul").toggle();
            });

            $("#select ul li").on("click", function () {
                let val = $(this).data("option");
                $("#select #option").text(val);
                $("#select ul").toggle();
            });

            if (document.cookie.split("id=")[1].includes(";")) {
                id = document.cookie.split("id=")[1].split(";")[0].replace(" ", "")
            } else {
                id = document.cookie.split("id=")[1].replace(" ", "")
            }
            document.getElementById("showall").addEventListener('click', function () {
                if (document.getElementById("showall").checked) {
                    showall()
                } else {
                    hideMarkers()
                }
            })
        });

        function showall() {
            $.ajax({
                url: "/Write",
                method: "POST",
                data: {
                    "Author": id
                },
                success: function (response) {
                    const result = {};
                    response.forEach(element => {

                        let Feel = element.Feel
                        let LAT = element.AREA_LAT
                        let LNG = element.AREA_LNG
                        let ADR = ""
                        if (element.AREA_LOAD_ADR != "null") {
                            ADR = element.AREA_LOAD_ADR
                        } else {
                            ADR = element.AREA_ADR
                        }
                        let Name = ""
                        if (element.AREA_CUSTOM_NAME != "null") {
                            Name = element.AREA_CUSTOM_NAME
                        } else {
                            if (element.AREA_NAME != "null") {
                                Name = element.AREA_NAME
                            } else {
                                Name = ""
                            }
                        }

                        let Created_At = element.Created_At.split("T")[0].split("-")[0] + "-" + element.Created_At.split("T")[0].split("-")[1] + "-" + element.Created_At.split("T")[0].split("-")[2] + " " + element.Created_At.split("T")[1].split(".")[0]
                        customMarker(Feel, LAT, LNG, ADR, Name, Created_At, element.Created_At)
                    })
                }
            })
        }
    </script>

</head>

<body>
    <div class="wrap">
        <!-- 헤더 시작 -->
        <header class="header">
            <div class="top_align">
                <!-- 네비 시작 -->
                <nav>
                    <ul class="navbar_menu">
                        <li><a href="/map">지도보기</a></li>
                        <li><a href="/write/1">기록하기</a></li>
                        <li><a href="/rank">랭킹보기</a></li>
                        <li><a href="/Mypage">마이페이지</a></li>
                    </ul>
                </nav>
                <!-- 네비 끝 -->
                <!-- 로고 시작 -->
                <div class="top_logo">
                    <i class="fa-solid fa-house-user"></i>
                    <a href="/">
                        <h1>DAILY LOG</h1>
                    </a>
                </div>
                <!-- 로고 끝 -->
                <!-- 모바일용 햄버거 -->
                <div class="nav_toogleBT">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <!-- 아이콘 시작 -->
                <div class="top_icon">
                    <a onclick="location.href='/Mypage/Like'"><img src="../static/assets/like2.png"
                            alt="메뉴의 좋아요 아이콘"></a>
                    <a href="/Mypage"><img src="../static/assets/mypage2.png" alt="메뉴의 마이페이지 아이콘"></a>
                </div>
                <!-- 아이콘 끝 -->
            </div>
        </header>
    </div>
    <!-- 헤더 끝 -->
    <!-- 메인시작 -->
    <main id="main">
        <section id="section">
            <!-- place -->
            <div class="map_wrap">
                <div class="map_section">
                    <div class="map_top">
                        <input id="searp" onkeypress="javascript:if(event.keyCode==13) sear()" type="text"
                            class="join_section input" placeholder="단어를 검색해보세요!">
                        <span>
                            <button onclick="sear()" type="submit" class="search_btn">
                                검색
                            </button>
                        </span>
                    </div>
                    <div class="map_top2">
                        <span class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="showall">
                            <label class="form-check-label" for="showall">
                                전체
                            </label>
                        </span>
                        <span class="today-check">
                            <input class="form-check-input" type="date" id="flexCheckDefault">
                            <!-- <label class="form-check-label" for="flexCheckDefault">
                                날짜
                            </label> -->
                        </span>
                        <span class="feel-check">
                            <div class="select_box">
                                <div class="write_select">
                                    <div id="select" class="select">
                                        <strong></strong>
                                        <div id="option">오늘의 기분</div>
                                        <ul>
                                            <li data-option="맑음">맑음</li>
                                            <li data-option="흐림">흐림</li>
                                            <li data-option="비">비</li>
                                            <li data-option="눈">눈</li>
                                            <li data-option="바람">바람</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- <label class="form-check-label" for="flexCheckDefault">
                                기분
                            </label> -->
                        </span>
                    </div>
                </div>
                <div class="map_content">
                    <div class="map_box">
                        <div class="map_header">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="map_nav">
                            <i class="fa-solid fa-arrow-left"></i>
                            <i class="fa-solid fa-arrow-left"></i>
                            <i class="fa-solid fa-rotate-left"></i>
                        </div>
                        <div class="map_section">
                            <div class="map_img">
                                <div id="map"></div>
                                <div class="hAddr">
                                    <span class="title">지도중심기준 주소정보</span>
                                    <span id="centerAddr"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 모든 라이브러리 적용 상태 -->
        <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4c43d4733daa8022e6465b441f59f10c&libraries=services,clusterer,drawing"></script>

        <script>

            function sear() {
                keyword = document.getElementById("searp").value
                if (keyword != '') {
                    ps.keywordSearch(keyword, placesSearchCB);
                } else {
                    alert("검색어를 입력해주세요.")
                }
            }
            let mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                mapOption = {
                    center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                    level: 1 // 지도의 확대 레벨
                };

            // 지도를 생성합니다    
            let map = new kakao.maps.Map(mapContainer, mapOption);

            var markers = [];
            var overlays = [];

            // 주소-좌표 변환 객체를 생성합니다
            let geocoder = new kakao.maps.services.Geocoder();

            let marker = new kakao.maps.Marker(), // 클릭한 위치를 표시할 마커입니다
                infowindow = new kakao.maps.InfoWindow({ zindex: 3 }); // 클릭한 위치에 대한 주소를 표시할 인포윈도우입니다

            // 현재 지도 중심좌표로 주소를 검색해서 지도 좌측 상단에 표시합니다
            searchAddrFromCoords(map.getCenter(), displayCenterInfo);

            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
            var mapTypeControl = new kakao.maps.MapTypeControl();

            // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
            // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

            // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
            // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
            kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
                hideMarkers()
                hideOverlay()
                document.getElementById("showall").checked = false
                searchDetailAddrFromCoords(mouseEvent.latLng, function (result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        let coords = mouseEvent.latLng.toString().replace("(", "").replace(")", "").split(",")
                        let detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                        detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                        detailAddr += '<div>위도 (LAT) : ' + coords[0] + '</div>';
                        detailAddr += '<div>경도 (LNG) : ' + coords[1] + '</div>';

                        let content = '<div class="bAddr">' +
                            '<span class="title">주소정보</span>' +
                            detailAddr +
                            '</div>';

                        $("#selected").empty()
                        $("#selected").append(
                            `<span>
                        <span class="title">선택된 주소</span>
                        ${detailAddr}
                    </span>`
                        )

                        // 마커를 클릭한 위치에 표시합니다 
                        marker.setPosition(mouseEvent.latLng);
                        marker.setMap(map);
                        var overlay = new kakao.maps.CustomOverlay({
                                content: content,
                                map: map,
                                position: marker.getPosition()
                            })

                        overlays.push(overlay)

                        // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                        //infowindow.setContent(content);
                        //infowindow.open(map, marker);
                    }
                });
            });

            // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
            kakao.maps.event.addListener(map, 'idle', function () {
                searchAddrFromCoords(map.getCenter(), displayCenterInfo);
            });

            // 장소 검색 객체를 생성합니다
            var ps = new kakao.maps.services.Places();

            function placesSearchCB(data, status, pagination) {
                if (status === kakao.maps.services.Status.OK) {

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                    // LatLngBounds 객체에 좌표를 추가합니다
                    var bounds = new kakao.maps.LatLngBounds();
                    hideMarkers()
                    hideOverlay()
                    for (var i = 0; i < data.length; i++) {
                        displayMarker(data[i]);
                        bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                    }

                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                    map.setBounds(bounds);
                } else {
                    alert("검색 결과가 없습니다.")
                }
            }

            // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
            function setMarkers(map) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }
            }

            // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
            function showMarkers() {
                setMarkers(map)
            }

            // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
            function hideMarkers() {
                setMarkers(null);
            }

            function setOverlay(map) {
                for (var i = 0; i < overlays.length; i++) {
                    overlays[i].setMap(map);
                }
            }

            function hideOverlay() {
                setOverlay(null)
            }

            function customMarker(Feel, LAT, LNG, ADR, Name, Created_At, Created_At1) {
                let link = ""
                if (Feel == "맑음") {
                    link = "../static/assets/map/sun.png"
                }

                if (Feel == "흐림") {
                    link = "../static/assets/map/cloud.png"
                }

                if (Feel == "비") {
                    link = "../static/assets/map/rain.png"
                }

                if (Feel == "눈") {
                    link = "../static/assets/map/snow.png"
                }

                if (Feel == "바람") {
                    link = "../static/assets/map/wind.png"
                }

                var imageSrc = link, // 마커이미지의 주소입니다    
                    imageSize = new kakao.maps.Size(44, 46), // 마커이미지의 크기입니다
                    imageOption = { offset: new kakao.maps.Point(27, 69) }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

                // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
                var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                    markerPosition = new kakao.maps.LatLng(37.54699, 127.09598); // 마커가 표시될 위치입니다

                var bounds = new kakao.maps.LatLngBounds();
                // 마커를 생성합니다
                bounds.extend(new kakao.maps.LatLng(LAT, LNG));
                map.setBounds(bounds)
                var marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(LAT, LNG),
                    image: markerImage, // 마커이미지 설정 
                    map: map
                });



                markers.push(marker)

                kakao.maps.event.addListener(marker, 'click', function (mouseEvent) {
                    hideOverlay()
                    let detailAddr = `<div><a style="color: blue;" href="/write/detail?postid=${Created_At1}">상세 글 보러가기</a></div>`;
                    detailAddr += '<div>이름 : ' + Name + '</div>';
                    detailAddr += '<div>기분 : ' + Feel + '</div>';
                    detailAddr += '<div>주소 : ' + ADR + '</div>';

                    let content = '<div class="bAddr">' +
                        '<span class="title">주소정보</span>' +
                        detailAddr +
                        '</div>';
                    var overlay = new kakao.maps.CustomOverlay({
                        content: content,
                        map: map,
                        position: marker.getPosition()
                    })
                    overlays.push(overlay)
                    // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다`  
                    //infowindow.setContent(content);
                    //infowindow.open(map, marker);
                });
            }

            // 지도에 마커를 표시하는 함수입니다
            function displayMarker(place) {


                // 마커를 생성하고 지도에 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: new kakao.maps.LatLng(place.y, place.x)
                });

                markers.push(marker)

                // 마커에 클릭이벤트를 등록합니다
                kakao.maps.event.addListener(marker, 'click', function (mouseEvent) {
                    console.log(markers)

                    searchDetailAddrFromCoords(new kakao.maps.LatLng(place.y, place.x), function (result, status) {
                        if (status === kakao.maps.services.Status.OK) {
                            let detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                            detailAddr += '<div>장소 이름 : ' + place.place_name + '</div>'
                            detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';
                            detailAddr += '<div>위도 (LAT) : ' + place.y + '</div>';
                            detailAddr += '<div>경도 (LNG) : ' + place.x + '</div>';

                            let content = '<div class="bAddr">' +
                                '<span class="title">주소정보</span>' +
                                detailAddr +
                                '</div>';

                            $("#selected").empty()
                            $("#selected").append(
                                `<span>
                        <span class="title">선택된 주소</span>
                        ${detailAddr}
                    </span>`
                            )

                            var overlay = new kakao.maps.CustomOverlay({
                                content: content,
                                map: map,
                                position: marker.getPosition()
                            })
                            overlays.push(overlay)

                            // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                            //infowindow.setContent(content);
                            //infowindow.open(map, marker);
                        }
                    });
                });
            }

            function searchAddrFromCoords(coords, callback) {
                geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
            }

            function searchDetailAddrFromCoords(coords, callback) {
                geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
            }

            // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
            function displayCenterInfo(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    let infoDiv = document.getElementById('centerAddr');

                    for (let i = 0; i < result.length; i++) {
                        // 행정동의 region_type 값은 'H' 이므로
                        if (result[i].region_type === 'H') {
                            infoDiv.innerHTML = result[i].address_name;
                            break;
                        }
                    }
                }
            }
        </script>
    </main>
    <!-- 메인 끝 -->
    <!-- 푸터 시작 -->
    <footer class="footer">
        <div class="bottom_wrap">
            <div class="bottom_simbol">
                <i class="fa-solid fa-house-user"></i>
            </div>
            <div class="bottom_info">
                <span>Copyright 2022 . DAILYLOG . All Rights Reserved .</span>
                <span>전체서비스 이용약관 개인정보처리방침 통합검색 고객센터 © DAILY LOG</span>
            </div>
        </div>
    </footer>
    <!-- 푸터 끝 -->
</body>
</div>
</body>

</html>