<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 제이쿼리 -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


    <title>장소를 선택해주세요.</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/popupmap.css">
    <link rel="stylesheet" href="../static/css/map_style_all.css">

    <!-- 스크립트 -->
    <script src="../static/js/popupmap.js" defer></script>

</head>

<body>
    <div id="sel">
        장소를 선택해주세요.
    </div>
    <div class="map_top">
        <input type="text" onkeypress="javascript:if(event.keyCode==13) sear()" id="searp" class="input"
            placeholder="단어를 검색해보세요!">
        <span>
            <button onclick="sear()" type="submit" class="search_btn">
                검색
            </button>
        </span>
    </div>
    <div id="map_warp" class="map_wrap" style="margin:auto">
        <div id="map" style="width:100%;height: 30rem;"></div>

        <div class="hAddr">
            <span class="title">지도중심기준 주소정보</span>
            <span id="centerAddr"></span>
        </div>
    </div>
    <div id="map_buttom">
        <div id="selected" class="selected">

        </div>

        <div>
            <span>
                <button onclick='opener.document.getElementById("maps").value = load;window.close()' type="submit"
                    class="search_btn">
                    확인
                </button>
            </span>
        </div>
    </div>

    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4c43d4733daa8022e6465b441f59f10c&libraries=services,clusterer,drawing"></script>
    <script src="../static/js/popupmap_buttom.js" defer></script>
</body>

</html>