<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="stylesheet" href="../static/css/header3.css">
    <link rel="stylesheet" href="../static/css/profile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>DAILY LOG</title>

    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/80a9730165.js" crossorigin="anonymous"></script>

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="./static/assets/house.svg" type="image/x-icon">
    <link rel="icon" href="./static/assets/house.svg" type="image/x-icon">

    <!-- 스크립트 -->
    <script src="../static/js/index.js" defer></script>
    
    <script>
        $(document).ready(function () {
        if(document.cookie.includes("id=")){
            login = true
            if(document.cookie.split("id=")[1].includes(";")){
                id = document.cookie.split("id=")[1].split(";")[0].replace(" ","")
            }else{
                id = document.cookie.split("id=")[1].replace(" ","")
            }
            $.ajax({
                url:"/User",
                method:"POST",
                data:{
                    id:id
                },
                success: function(response){
                    document.getElementById("email").value = response.email
                    document.getElementById("name").value = response.name
                    document.getElementById("nickname").value = response.nickname
                    document.getElementById("phone").value = response.phone
                }
            })
        }else{ 
            login = false
            location.href = "/Login?loc = Mypage"
            alert("로그인이 필요합니다.")
        }
    })
    </script>
</head>
<script>
    function update() {
        $.ajax({
                url:"/User",
                method:"POST",
                data:{
                    id:id
                },
                success: function(response){
                    if(document.getElementById("nickname").value == response.nickname) {
                        alert("변경사항이 존재하지 않습니다.")
                    }else{
                        $.ajax({
                            url:"/User",
                            method:"PATCH",
                            data:{
                                'id':id,
                                'nickname':document.getElementById("nickname").value
                            },
                            success: function(response){
                                if(response == "OK"){
                                    location.reload()
                                    alert("변경이 완료되었습니다.")
                                }

                            }
                        })
                    }
                }
        })
    }
    function logout() {
        document.cookie = "id = ; expires=Thu, 01 Jan 1970 00:00:01 GMT;"
        location.href = "/"
        alert("로그아웃 되었습니다.")
    }
</script>
<body>
    <!-- 헤더 시작 -->
        <header class="header">
            <div class="top_align">
                <!-- 네비 시작 -->
                <nav>
                    <ul class="navbar_menu">
                        <li><a href="/map">지도보기</a></li>
                        <li><a href="/write/1">기록하기</a></li>
                        <li><a href="/rank">랭킹보기</a></li>
                        <li><a href="/Mypage">마이페이지</a></li>
                    </ul>
                </nav>
                <!-- 네비 끝 -->
                <!-- 로고 시작 -->
                <div class="top_logo">
                        <a href="/">
                            <i class="fa-solid fa-house-user"></i>
                        </a>
                            <a href="/">
                                <h1>DAILY LOG</h1>
                            </a>
                </div>
                <!-- 로고 끝 -->
                <!-- 모바일용 햄버거 -->
                <div class="nav_toogleBT">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <!-- 아이콘 시작 -->
                <div class="top_icon">
                    <a onclick="location.href='/Mypage/Like'"><img src="../static/assets/like2.png" alt="메뉴의 좋아요 아이콘"></a>
                    <a href="/Mypage"><img src="../static/assets/mypage2.png" alt="메뉴의 마이페이지 아이콘"></a>
                </div>
                <!-- 아이콘 끝 -->
            </div>
        </header>
    </div>    
        <!-- 헤더 끝 -->

 <!-- 메인 시작 -->
    <main id="main">
        <section class="mypage_wrap">
            <div class="mypage_section">
                <div class="mypage_left">
                    <ul>
                        <li onclick="location.href='/Mypage'">내계정</li>
                        <li onclick="location.href='/Mypage/Write'">내가 쓴 글</li>
                        <li onclick="location.href='/Mypage/Like'">내 이미지</li>
                        <li onclick="logout()">로그아웃</li>
                        <li onclick="location.href='/Mypage/Delete'">탈퇴</li>
                    </ul>
                </div>
                <div class="profile_right">
                    <div>
                        <label>*홈페이지에서는 닉네임만을 변경하실수있습니다.</label>
                        <label>*기타 정보를 변경하시고 싶으신경우 문의해 주시기 바랍니다.</label>
                    </div>
                    <div>
                        <label for="email">이메일</label>
                        <input type="text" id="email" readonly>
                    </div>
                    <div>
                        <label for="name">이름</label>
                        <input type="text" id="name" readonly>
                    </div>
                    <div>
                        <label for="nickname">닉네임</label>
                        <input type="text" id="nickname">
                    </div>
                    <div>
                        <label for="phone">전화번호</label>
                        <input type="number" id="phone" readonly>
                    </div>
                    <div class="profile_submit">
                        <button onclick="update()" type="submit">
                            회원정보 수정
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- 메인 끝 -->

    <!-- 푸터 시작 -->
    <footer class="footer">
        <div class="bottom_wrap">
            <div class="bottom_simbol">
                <i class="fa-solid fa-house-user"></i>
            </div>
            <div class="bottom_info">
                <span>Copyright 2022 . DAILYLOG . All Rights Reserved .</span>
                <span>전체서비스 이용약관 개인정보처리방침 통합검색 고객센터 © DAILY LOG</span>
            </div>
        </div>
    </footer>
    <!-- 푸터 끝 -->
</body>

</html>