<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/writestyle.css">
    <link rel="stylesheet" href="../static/css/revise.css">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>DAILY LOG</title>

</head>
<script>
    $(document).ready(function () {
        let postid = ""
        if(location.href.includes("?")){
            postid = location.href.split("?")[1].split("postid=")[1]
        }else{
            location.href = `/`;
            alert("표시할 글의 아이디가 지정되어있지 않습니다.\n카드에서 다시 클릭해보세요.\n홈으로 이동합니다.")
        }
        if(document.cookie.includes("id=")){
            login = true
            if(document.cookie.split("id=")[1].includes(";")){
                id = document.cookie.split("id=")[1].split(";")[0].replace(" ","")
            }else{
                id = document.cookie.split("id=")[1].replace(" ","")
            }
            let userinfo = ""
            $.ajax({
                url:"/User",
                method:"POST",
                data:{
                    id:id
                },
                success: function(response){
                    name = response.nickname
                                //목록 가져오기
                    $.ajax({
                        url:"/Write",
                        method:"POST",
                        data:{
                            "Author":id
                        },
                        success: function(response){
                            response.forEach(element => {
                                let now = new Date()

                                let year = now.getFullYear()
                                let month = now.getMonth()
                                let day = now.getDate()
                                let hours = now.getHours()+9
                                let minutes = now.getMinutes()
                                let seconds = now.getSeconds()

                                let nowdate = new Date(year, month, day, hours, minutes, seconds)

                                let chai = nowdate.getTime() - new Date(element.Created_At).getTime()
                                let a = ""

                                let wmon = element.Created_At.split("-")[1]
                                let wday = element.Created_At.split("-")[2].split("T")[0]

                                if(chai < 1000 * 60)
                                    a += '방금'
                                else if(chai < 1000 * 60 * 60)
                                    a += Math.floor(chai / (1000 * 60)) + '분 전';
                                else if(chai < 1000 * 60 * 60 * 24)
                                    a += Math.floor(chai / (1000 * 60 * 60)) + '시간 전';
                                else if(chai < 1000 * 60 * 60 * 24 * 30)
                                    a += Math.floor(chai / (1000 * 60 * 60 * 24)) + '일 전';
                                else if(chai < 1000 * 60 * 60 * 24 * 30 * 12)
                                    a += Math.floor(chai / (1000 * 60 * 60 * 24 * 30)) + '달 전';
                                else
                                    a += Math.floor(chai / (1000 * 60 * 60 * 24 * 30 * 12)) + '년 전';
                                

                                if(postid == element.Created_At) {
                                    addCard(element)
                                }
                            });
                        }
                    })
                }
            })

        }else{
            if(location.href.includes("?")){
                loc = location.href.split("?")[1].split("postid=")[1]
                location.href = `/Login?loc = write/detail?postid=${loc}`
            }else{
                location.href = `/Login?loc = `;
            } 
            login = false
            alert("로그인이 필요합니다.")
        }
    })

    function addCard(element) {
        console.log(element)
        let wyear = element.Created_At.split("-")[0]
        let wmon = element.Created_At.split("-")[1]
        let wday = element.Created_At.split("-")[2].split("T")[0]

        let Date = wyear+"년 "+wmon+"월 "+wday+"일"
        card = Card(Date, Name, UserName, Ex, id)
        document.getElementById("main").prepend(card)
    }
    function Card(name, adr, people_meet, image, date, feel, desc) {

        return `<h1>${name}</h1>
                <p>${adr}</p>
                <p>${people_meet}</p>
                <article>
                    <div class="picture">
                        <img src="${image}" alt="메뉴의 마이페이지 아이콘">
                    </div>
                    <p>${date}</p>
                    <p>기분 : ${feel}</p>
                    <div class="comment">
                        ${desc}
                    </div>
                    <div class="btn">
                        <input type="submit" class="submit" value="수정">
                        <input type="submit" class="submit" value="삭제" style="background-color: #FF774D">
                    </div>
                </article>`
    }
</script>    
<body>
<div>
    <!-- 헤더 시작 -->
    <header id="header">
        <div>
            <a href="/"><h1>DAILY<br>LOG</h1></a>
        </div>
        <!-- 네비 시작 -->
        <nav id="nav">
            <ul>
                <li><a href="/map">지도보기</a></li>
                <li><a href="/write/1">기록하기</a></li>
                <li><a href="/rank">랭킹보기</a></li>
                <li><a href="/Mypage">마이페이지</a></li>
            </ul>
        </nav>
        <!-- 네비 끝 -->
        <div class="nav_icon">
            <img src="../static/assets/search2.png" alt="메뉴의 검색 아이콘">
            <img src="../static/assets/like2.png" alt="메뉴의 좋아요 아이콘">
            <img src="../static/assets/mypage2.png" alt="메뉴의 마이페이지 아이콘">
        </div>
    </header>
    <!-- 헤더 끝 -->
    <div class="top_hr">
        <hr>
    </div>
<main id="main">
    <h1>오늘 제일 햅삐한 하루 <3</h1>
    <p>제주도</p>
    <p>하니, 다니엘, 민지 등</p>
    <article>
        <div class="picture">
            <img src="../static/assets/newjeans.png" alt="메뉴의 마이페이지 아이콘">
        </div>
        <p>2022년 11월 30일</p>
        <p>맑음 일식</p>
        <div class="comment">
            내가 만든 쿠키 너를 위해 구웠지But you know that it ain't for free, yeah내가 만든 쿠키너무 부드러우니자꾸만 떠오르니널 choco-chip으로Sprinkle로입맛 버리게 만들고 싶어숨기고 있지만 널 더 보고 싶어If you want itYou can get itIf you want it네 목소리를 또 들려줘 boy식사는 없어 마음속을 녹이지So good, yeahLooking at my cookie역시 향기부터 다르니 (Taste it)한입은 모자라니널 choco-chip으로Sprinkle로정신 못 차리게 만들고 싶어숨기고 있지만 널 더 보고 싶어If you want itYou can get itIf you want it
        </div>
        <div class="btn">
            <input type="submit" class="submit" value="수정">
            <input type="submit" class="submit" value="삭제" style="background-color: #FF774D">
        </div>
    </article>
</main>


</body>
</html>