<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="stylesheet" href="../static/css/header3.css">
    <link rel="stylesheet" href="../static/css/sessionout.css">
    <title>DAILY LOG</title>

    <!-- 아이콘 -->
    <script src="https://kit.fontawesome.com/80a9730165.js" crossorigin="anonymous"></script>

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="./static/assets/house.svg" type="image/x-icon">
    <link rel="icon" href="./static/assets/house.svg" type="image/x-icon">

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    .check-password{
        display: flex;
        margin-top: 1rem;
        margin-right: 14rem;
    }
  </style>
<script>
    
    function remove() {
        let id = document.getElementById("email").value
        let password = document.getElementById("password").value

            $.ajax({
                type: 'POST',
                url: '/User/Login',
                data: {email: id, password:password},
                success: function (response) {
                    if(response == "MISSING_EMAIL"){
                        alert("이메일을 입력해주세요.")
                        return
                    }  
                    if(response == "INVALID_EMAIL"){
                        alert("입력하신 이메일을 확인해주세요.")
                        return
                    }
    
                    if(response == "INVALID_PASSWORD"){
                        alert("비밀번호가 일치하지 않습니다.")
                        return
                    } 
    
                    if(response == "MISSING_PASSWORD"){
                        alert("비밀번호를 입력해주세요.")
                        return
                    }
                
                    $.ajax({
                        type:"POST",
                        url: "/User",
                        data: {'id':response},
                        success: function(response) {
                            $.ajax({
                                type:"DELETE",
                                url: "/User",
                                data: {'id':response.id,'email':response.email,'phone':response.phone},
                                success: function(response) {
                                    if(response == "OK"){                                    
                                        document.cookie = "id = ; expires=Thu, 01 Jan 1970 00:00:01 GMT;"
                                        alert("탈퇴가 완료되었습니다.\n감사합니다.")
                                        location.href = "/?delete" 
                                    }
                                }
                            })
                        }
                    })
                    
                }
            });
    }

        function is_checked() {
            const checkbox = document.getElementById("flexCheckDefault");
            const is_checked = checkbox.checked;
            if(is_checked){
                document.getElementById("password").type = "text"
                document.getElementById("password").autocomplete = "off"
            }else{
                document.getElementById("password").type = "password"
                document.getElementById("password").autocomplete = "current-password"
            }
        }
</script>
<body>
        <!-- 헤더 시작 -->
        <header class="header">
            <div class="top_align">
                <!-- 네비 시작 -->
                <nav>
                    <ul>
                        <li><a href="/map">지도보기</a></li>
                        <li><a href="/write/1">기록하기</a></li>
                        <li><a href="/rank">랭킹보기</a></li>
                        <li><a href="/Mypage">마이페이지</a></li>
                    </ul>
                </nav>
                <!-- 네비 끝 -->
                <!-- 로고 시작 -->
                <div class="top_logo">
                    <div class="simbol">
                        <i class="fa-solid fa-house-user"></i>
                    </div>
                    <a href="/"><h1>DAILY LOG</h1></a>
                    <!-- 모바일용 햄버거 -->
                    <a href="#" class="nav_toogleBT">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
                <!-- 아이콘 시작 -->
                <div class="top_icon">
                    <img src="../static/assets/like2.png" alt="메뉴의 좋아요 아이콘">
                    <img src="../static/assets/mypage2.png" alt="메뉴의 마이페이지 아이콘">
                </div>
                <!-- 아이콘 끝 -->
            </div>
        </header>
    </div>    
        <!-- 헤더 끝 -->

    <!-- 메인 시작 -->
    <main id="main">
        <section class="mypage_wrap">
            <div class="mypage_section">
                <div class="mypage_left">
                    <ul>
                    <li onclick="location.href='/Mypage'">내계정</li>
                    <li onclick="location.href='/Mypage/Write'">내가 쓴 글</li>
                    <li onclick="location.href='/Mypage/Like'">좋아요</li>
                    <li onclick="logout()">로그아웃</li>
                    <li onclick="location.href='/Mypage/Delete'">탈퇴</li>
                    </ul>
                </div>
                <div class="session_right">
                    <div class="session_article">
                        <div class="session_text">
                            <h5>*탈퇴하기 전에</h5>
                            <p>
                                회원 탈퇴 전, 안내 사항을 꼭 확인해주세요.<span style="font-weight: bold
                                ;"> 탈퇴 후에는 아이디와 데이터 복구가 불가능합니다.</span>
                            </p>
                            <p style="font-weight: bold;">
                                탈퇴 처리 : 즉시 ( 자동 ) / 복구 불가
                            </p>
                            <h5>*서비스 이용 기록 삭제</h5>
                            <p>
                                프로필 등록 정보, 등록한 글 등
                                서비스 이용 기록이 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다. 필요한 데이터는 미리 백업을 해두시기 바랍니다.
                            </p>
                        </div>
                        <div>
                            <label for="password">현재 아이디</label>
                            <input type="text" id="email">
                        </div>                        
                        <div>
                            <label for="password">현재 비밀번호</label>
                            <input type="password" id="password">
                        </div>
                        <span class="check-password">
                            <input class="form-check-input-login" style=" width: 1.5rem;" title="비밀번호 표시" onclick="is_checked()" type="checkbox" name="flexCheckDefault" id="flexCheckDefault">
                            <label for="flexCheckDefault" style="float:right; margin-top: 0.2rem; margin-left: 0.5rem; font-size: 0.8rem;">
                                비밀번호 표시
                            </label>
                        </span>
                        <div style="margin-top: 5rem;">
                            <button onclick="remove()">탈퇴하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- 메인 끝 -->

    <!-- 푸터 시작 -->
    <footer id="footer">
        <div class="bottom_hr">
            <hr>
        </div>
        <div>
            <p>Copyright 2022 . DAILYLOG . All Rights Reserved .</p>
            <p>전체서비스 이용약관 개인정보처리방침 통합검색 고객센터 © DAILY LOG</p>
        </div>
    </footer>
    <!-- 푸터 끝 -->
</body>

</html>