<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/write2style.css">
    <title>DAILY LOG</title>

</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if(document.cookie.includes("id=")){
            login = true
            if(document.cookie.split("id=")[1].includes(";")){
                id = document.cookie.split("id=")[1].split(";")[0].replace(" ","")
            }else{
                id = document.cookie.split("id=")[1].replace(" ","")
            }
        }else{ 
            login = false
            location.href = "/Login?loc = write/2"
            alert("로그인이 필요합니다.")
        }
    })

    function addCard(Date, Name, UserName, Ex) {
        card = Card(Date, Name, UserName, Ex)
        $("#write_main").prepend(card)
    }

    function Card(Date, Name, UserName, link,  Ex) {
    return `<a href="/Record?${link}">
                <div class="write_box">
                    <div>
                        <h2>${Date}</h2>
                        <p>${Name}</p>
                    </div>
                    <div class="user_info">
                        <p>${UserName}</p>
                        <p>${Ex}</p>
                    </div>
                </div>
            </a>`
}
</script>
<body>

        <!-- 헤더 시작 -->
    <header id="header">
        <div>
             <a href="/"><h1>DAILY<br>LOG</h1></a>
        </div>
        <!-- 네비 시작 -->
        <nav id="nav">
            <ul>
                <li><a href="/map">지도보기</a></li>
                <li><a href="/write/2">기록하기</a></li>
                <li><a href="/ranking">랭킹보기</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </nav>
        <!-- 네비 끝 -->
        <div class="nav_icon">
            <img src="../static/assets/search2.png" alt="메뉴의 검색 아이콘">
            <img src="../static/assets/like2.png" alt="메뉴의 좋아요 아이콘">
            <img src="../static/assets/mypage2.png" alt="메뉴의 마이페이지 아이콘">
        </div>
    </header>
    <!-- 헤더 끝 -->

    <!-- 메인 시작 -->
    <!-- 데이터 넘겨오면 뿌려주는 부분인데 어떻게 구현해야할지.. -->
    <main id="main">
         <section id="section">
            <div class="write_bt">
                <a href="/write/1"><button>글쓰기</button></a>
            </div>
            <div class="write_main" id="write_main">
                <a href="/Record">
                    <div class="write_box">
                        <div>
                            <h2>12/01</h2>
                            <p>길동이랑 오늘 영화보고 아웃백에 다녀왔다.</p>
                        </div>
                        <div class="user_info">
                            <p>츠키</p>
                            <p>3시간 전</p>
                        </div>
                    </div>
                </a>
            </div>
            <div></div>
        </section>
    </main>
    <!-- 메인 끝 -->

    <!-- 푸터 시작 -->
    <footer id="footer">
        <div class="bottom_hr">
            <hr>
        </div>
        <div>
            <p>Copyright 2022 . DAILYLOG . All Rights Reserved .</p>
            <p>전체서비스 이용약관 개인정보처리방침 통합검색 고객센터 © DAILY LOG</p>
        </div>
    </footer>
    <!-- 푸터 끝 -->

</body>

</html>